<div data-display="preview">
  <div class="video-container">
    <div class="video-container__img" (click)="onShowModal()">
      <img
        class="preview-img"
        src="//i.ytimg.com/vi/ZZjnfWx0cvw/sddefault.jpg"
      />
    </div>
    <div class="video-container__info">
      <h2 class="video-container__info-title">Title usually is not too long</h2>
      <p class="video-container__info-description">
        description text up to 50 chracters 14 reudndant
      </p>
    </div>
    <div class="video-container__stats">
      <div class="video-container__stats-item">
        <mat-icon class="video-container__stats-icon">visibility</mat-icon>
        <span class="video-container__stats-text">123,456</span>
      </div>
      <div class="video-container__stats-item">
        <mat-icon class="video-container__stats-icon">thumb_up</mat-icon>
        <span class="video-container__stats-text">12,345</span>
      </div>
      <div class="video-container__stats-item">
        <mat-icon class="video-container__stats-icon">calendar_today</mat-icon>
        <span class="video-container__stats-text">23 May 2015</span>
      </div>
    </div>
    <div class="video-container__actions">
      <mat-icon>favorite_border</mat-icon>
      <mat-icon>play_circle</mat-icon>
      <mat-icon>delete_outline</mat-icon>
    </div>
    <div
      class="video-container__modal isActive"
      id="modal"
      *ngIf="isModalActive"
    >
      <mat-card class="video-container__modal-card">
        <mat-card-header>
          <mat-card-title>Title usually is not too long</mat-card-title>
          <mat-card-subtitle>
            description text up to 50 chracters 14 reudndant
          </mat-card-subtitle>
        </mat-card-header>
        <div class="video-container__modal-card-iframe">
          <iframe
            width="100%"
            height="100%"
            frameborder="0"
            allowfullscreen
            src="//www.youtube.com/embed/ZZjnfWx0cvw"
          ></iframe>
        </div>
        <mat-card-actions class="video-container__modal-close">
          <button mat-fab color="warn" (click)="onCloseModal()">close</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
