[data-display="preview"] {
  .video-container {
    display: flex;
    width: 100%;
    max-width: 80rem;
    margin: 0.3rem auto;
    height: 5rem;
    gap: 0.4rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__preview {
      height: 90%;
      max-width: 7rem;
      margin-left: 0.8rem;
      cursor: pointer;
      transition: transform 0.3s ease-out;

      &__img {
        width: auto;
        max-width: 6rem;
        height: 100%;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      &-title {
        font-size: 0.8rem;
        line-height: 1.45;
        margin-bottom: 0.2rem;
      }

      &-description {
        color: rgba(0, 0, 0, 0.65);
        font-size: 0.6rem;
        line-height: 1.1;
        margin: 0;
      }
    }

    &__stats {
      display: flex;
      height: 100%;
      min-width: 5.5rem;
      color: rgba(0, 0, 0, 0.65);
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin-right: 0.8rem;

      &-item {
        display: flex;
        align-items: center;
      }

      &-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 0.3rem;
      }

      &-text {
        font-size: 0.6rem;
      }
    }

    &__actions {
      display: none;
    }

    &__modal {
      display: flex;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 10;
      justify-content: center;
      align-items: center;

      &-card {
        display: flex;
        width: 80%;
        height: 80%;
        min-height: 30rem;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);

        &__header {
          margin-left: 4%;
        }

        &-iframe {
          width: 90%;
          height: 69%;
          background-color: rgba(0, 0, 0, 0.95);
          margin: 0 auto;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: -1;
      }

      &-close {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (min-width: 624px) {
    .video-container {
      height: 7rem;

      &__preview {
        max-width: 8rem;
        margin-left: 1.6rem;

        &__img {
          max-width: 8rem;
        }
      }

      &__info {
        &-title {
          font-size: 0.9rem;
          line-height: 1.45;
          margin-bottom: 0.3rem;
        }

        &-description {
          font-size: 0.7rem;
          line-height: 1.2;
          margin: 0;
        }
      }

      &__stats {
        margin-right: 1.6rem;
        min-width: 6.5rem;

        &-icon {
          width: 18px;
          height: 18px;
          font-size: 18px;
          margin-right: 0.5rem;
        }

        &-text {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (min-width: 912px) {
    .video-container {
      height: 10rem;

      &__preview {
        max-width: 12rem;
        margin-left: 1.6rem;

        &__img {
          max-width: 12rem;
        }
      }

      &__info {
        &-title {
          font-size: 1.3rem;
          line-height: 1.45;
          margin-bottom: 0.3rem;
        }

        &-description {
          font-size: 0.9rem;
          line-height: 1.1;
          margin: 0;
        }
      }

      &__stats {
        min-width: 8.5rem;
        margin-right: 1.6rem;

        &-icon {
          width: 24px;
          height: 24px;
          font-size: 24px;
          margin-right: 0.5rem;
        }

        &-text {
          font-size: 1rem;
        }
      }
    }
  }
}
