<div class="video-container">
  <div class="video-container__iframe">
    <img src="//i.ytimg.com/vi/ZZjnfWx0cvw/default.jpg" />
  </div>
  <div class="video-container__info">
    <h2 class="video-container__info-title">Title usually is not too long</h2>
    <p class="video-container__info-description">
      description text up to 50 chracters 14 reudndant
    </p>
  </div>
  <div class="video-container__stats">
    <div class="video-container__stats-views">
      <!-- <mat-icon></mat-icon> -->
      <span></span>
    </div>
    <div class="video-container__stats-likes">
      <!-- <mat-icon></mat-icon> -->
      <span></span>
    </div>
    <div class="video-container__stats-upload">
      <!-- <mat-icon></mat-icon> -->
      <span></span>
    </div>
  </div>
  <div class="video-container__actions"></div>
</div>
