<div [attr.data-display]="displayStyle">
  <div class="video-container">
    <div class="video-container__preview" (click)="onOpenModal()">
      <img
        class="video-container__preview__img"
        [src]="video.picture"
        [alt]="video.title"
      />
    </div>
    <div class="video-container__info">
      <h2 class="video-container__info-title">{{ video.title }}</h2>
      <div class="video-container__info-items">
        <div class="video-container__info-item" *ngIf="video.views">
          <mat-icon class="video-container__info-icon">visibility</mat-icon>
          <span class="video-container__info-text" aria-label="video views">{{
            video.views | number
          }}</span>
        </div>
        <div class="video-container__info-item">
          <mat-icon class="video-container__info-icon">thumb_up</mat-icon>
          <span class="video-container__info-text" aria-label="video likes">{{
            video.likes | number
          }}</span>
        </div>
        <div class="video-container__info-item" *ngIf="video.date">
          <mat-icon class="video-container__info-icon">calendar_today</mat-icon>
          <span class="video-container__info-text" aria-label="upload date">{{
            video.date | date
          }}</span>
        </div>
      </div>
    </div>

    <div class="video-container__actions">
      <button
        mat-icon-button
        matTooltip="Add video to favorites!"
        class="video-container__actions__btn"
        (click)="onAddToFavourite(video)"
        *ngIf="!video.favourites"
        aria-label="add to favorites"
      >
        <mat-icon class="video-container__actions__btn-icon">
          favorite_border
        </mat-icon>
        <mat-icon
          class="video-container__actions__btn-icon"
          *ngIf="video.favourites"
        >
          favorite
        </mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Remove video from favorites!"
        class="video-container__actions__btn"
        (click)="onAddToFavourite(video)"
        *ngIf="video.favourites"
        aria-label="remove from favorites"
      >
        <mat-icon class="video-container__actions__btn-icon">
          favorite
        </mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Play video"
        class="video-container__actions__btn"
        (click)="onOpenModal()"
        aria-label="play video"
      >
        <mat-icon class="video-container__actions__btn-icon">
          play_circle
        </mat-icon>
      </button>
      <button
        mat-icon-button
        class="video-container__actions__btn"
        matTooltip="Delete video from your list"
        (click)="onOpenDeleteDialog(video)"
        aria-label="delete video"
      >
        <mat-icon class="video-container__actions__btn-icon">
          delete_outline
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-divider *ngIf="displayStyle === 'list'"></mat-divider>
</div>
