@use '/src/variables' as var;

.header {
  background-color: rgba(22, 16, 16, 1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var.$max-width;
    margin: var.$margin-center;
  }

  &__title {
    color: var.$text-color-header;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    &-link {
      position: relative;
      color: var.$text-color-header;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 0.2rem;
      margin-left: 1rem;
      text-decoration: none;
      cursor: pointer;

      &--accent {
        color: var.$text-color-accent;
      }
    }

    &-link::after {
      position: absolute;
      content: "";
      top: 0;
      left: 2%;
      width: 96%;
      height: 100%;
    }

    &-link:hover::after,
    &-link:active::after,
    &-link.isSelected::after {
      border-bottom: 2px solid var.$text-color-accent;
    }
  }

  @media (min-width: 624px) {
    &__title {
      font-size: 1.2rem;
    }

    &__action {
      &-link {
        font-size: 1rem;
        padding: 0.4rem;
      }
    }
  }

  @media (min-width: 912px) {
    &__title {
      font-size: 1.3rem;
    }

    &__action {
      &-link {
        font-size: 1.1rem;
      }
    }
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 1.4rem;
    }

    &__action {
      &-link {
        font-size: 1.2rem;
      }
    }
  }
}
