<mat-toolbar class="header">
  <div class="header__wrapper">
    <a routerLink="/" class="header__title" aria-label="site logo">VideoApp</a>
    <nav>
      <ul class="header__action">
        <li>
          <a
            routerLinkActive="isSelected"
            routerLink="/add-video"
            class="header__action-link header__action-link--accent"
          >
            ADD VIDEO
          </a>
        </li>
        <li>
          <a
            routerLinkActive="isSelected"
            routerLink="/playlist"
            class="header__action-link"
          >
            PLAYLIST
          </a>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
