<section>
  <mat-toolbar class="search">
    <form class="search__form" #video="ngForm" (ngSubmit)="onSubmit(video)">
      <mat-form-field class="search__field">
        <input
          matInput
          type="text"
          class="search__field-input"
          placeholder="Video link or id"
          name="videoUrl"
          #videoUrl="ngModel"
          ngModel
          required
          aria-required="true"
          aria-label="provide video url or id"
        />
        <mat-error
          class="search__form-error"
          *ngIf="videoUrl.hasError('required')"
        >
          Must provide video link or id!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="search__select">
        <mat-select
          #service="ngModel"
          name="videoService"
          ngModel
          required
          aria-required="true"
          aria-label="choose video service"
        >
          <mat-option>---</mat-option>
          <mat-option value="youtube">Youtube</mat-option>
          <mat-option value="vimeo">Vimeo</mat-option>
        </mat-select>
        <mat-error
          class="search__form-error"
          *ngIf="service.hasError('required')"
        >
          Must choose video service!
        </mat-error>
      </mat-form-field>
      <button
        mat-fab
        class="search__button--find"
        type="submit"
        [disabled]="video.invalid"
      >
        FIND
      </button>
    </form>
  </mat-toolbar>
  <ng-container *ngIf="!errorState">
    <app-video-item
      *ngFor="let vid of videos"
      [video]="vid"
      [displayStyle]="displayStyle"
    ></app-video-item>
    <div class="search__action-options" *ngIf="showingPreview">
      <button
        mat-raised-button
        class="search__action-options--add"
        color="primary"
        (click)="onAddVideo()"
      >
        Add video to your list!
      </button>
      <button
        mat-raised-button
        class="search__action-options--cancel"
        (click)="onCancelVideo()"
      >
        Look for another...
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="errorState">
    <mat-error class="search__api-error">{{ errorMessage }}</mat-error>
  </ng-container>
</section>
