@use '/src/variables' as var;

.search {
  width: 100%;
  height: auto;
  background-color: var.$background-color-main;

  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;

    &-error {
      font-size: 0.6rem;
      text-transform: none;
    }
  }

  &__field {
    width: 100%;
    max-width: 30rem;
    line-height: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var.$text-color-secondary;
    text-align: center;

    &-input {
      font-size: 1rem;
      color: var.$text-color-primary;
      background-color: var.$background-color-main;
    }
  }

  &__select {
    width: 8rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var.$text-color-secondary;
    text-align: center;
    margin-left: 2rem;
  }

  &__button--find {
    color: var.$text-color-header;
    background-color: var.$text-color-accent;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
  }

  &__action-options {
    width: 100%;
    text-align: center;

    &--add,
    &--cancel {
      margin: 0.5rem 1rem;
    }

    &--cancel {
      color: var.$text-color-header;
      background-color: var.$text-color-accent;
    }

    &--add:hover,
    &--add:focus,
    &--cancel:hover,
    &--cancel:focus {
      opacity: 0.7;
    }
  }

  &__api-error,
  &__api-success {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
  }

  &__api-success {
    color: #3f51b5;
  }
}
