<section class="playlist" matSort (matSortChange)="sortVideos($event)">
  <header class="playlist__options">
    <div class="playlist__filter">
      <p class="playlist__filter-title">Sort by:</p>
      <div class="playlist__filter-items">
        <p class="playlist__filter-item" mat-sort-header="views">Views</p>
        <p class="playlist__filter-item" mat-sort-header="likes">Likes</p>
        <p class="playlist__filter-item" mat-sort-header="date">Upload</p>
        <button
          class="playlist__filter-favorites"
          mat-icon-button
          matTooltip="Show favorites"
          (click)="onShowFavorites()"
        >
          <mat-icon *ngIf="showingFavorites">favorite</mat-icon>
          <mat-icon *ngIf="!showingFavorites">favorite_border</mat-icon>
        </button>
      </div>
    </div>
    <div class="playlist__views">
      <button
        mat-icon-button
        matTooltip="list view"
        class="playlist__views__btn playlist__views__btn--list"
        data-view="list"
        (click)="onDisplayStyle($event)"
      >
        <mat-icon class="playlist__views__btn-icon">list_black</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="tile view"
        class="playlist__views__btn playlist__views__btn--tiles"
        data-view="tile"
        (click)="onDisplayStyle($event)"
      >
        <mat-icon class="playlist__views__btn-icon">grid_view_black</mat-icon>
      </button>
    </div>
  </header>
  <mat-divider></mat-divider>

  <app-video-item
    *ngFor="let vid of paginatedVideos"
    [video]="vid"
    [displayStyle]="displayStyle"
  ></app-video-item>
  <mat-paginator
    [length]="this.sortedVideos.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</section>
