.playlist {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

    &.tile {
      display: grid;
      grid-template-columns: 1fr;
      align-items: stretch;
      justify-content: stretch;
      gap: 0.5rem;
    }
  }

  &__options {
    display: flex;
    width: 100%;
    max-width: 75rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    margin-top: 0.8rem;
    margin-left: 1.2rem;

    &__button {
      color: rgba(0, 0, 0, 0.65);
    }

    &-title {
      width: 100%;
      font-size: 0.7rem;
      font-weight: 600;
    }

    &-items {
      display: flex;
      align-items: baseline;
    }

    &-item {
      font-size: 0.5rem;
      text-transform: uppercase;
      margin-right: 0.35rem;
    }
  }

  &__views {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
  }

  &__paginator {
    width: 100%;
    max-width: 75rem;
    background-color: rgba(215, 215, 215, 1);
    margin: 0 auto;
  }

  &__actions {
    display: flex;
    width: 100%;
    max-width: 75rem;
    justify-content: flex-end;
    margin: 0 auto;

    &__button {
      color: rgba(0, 0, 0, 0.65);
      margin-right: 0.8rem;
    }
  }

  @media (min-width: 912px) {
    &__items {
      &.tile {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    &__filter {
      &-title {
        font-size: 0.9rem;
        padding: 0.3rem;
      }
      &-item {
        font-size: 0.7rem;
        padding: 0.3rem;
      }
    }
  }

  @media (min-width: 1200px) {
    &__items {
      &.tile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &__filter {
      &-title {
        font-size: 1rem;
      }
      &-item {
        font-size: 0.8rem;
      }
    }
  }
}
