.search {
  width: 100%;
  height: 5rem;
  background-color: #e9e9e9;

  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &-error {
      font-size: 0.6rem;
      text-transform: none;
    }
  }

  &__field {
    width: 100%;
    max-width: 30rem;
    line-height: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #635e5e;
    text-align: center;

    &-input {
      font-size: 1rem;
      color: #0e0e0e;
      background-color: #e9e9e9;
    }
  }

  &__select {
    width: 8rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #635e5e;
    text-align: center;
    margin-left: 2rem;
  }

  &__button--find {
    color: #fff;
    background-color: #c30000;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
  }

  &__action-options {
    width: 100%;
    text-align: center;

    &--add,
    &--cancel {
      margin: 0.5rem 1rem;
    }

    &--cancel {
      color: #e9e9e9;
      background-color: #c30000;
    }

    &--add:hover,
    &--add:focus,
    &--cancel:hover,
    &--cancel:focus {
      opacity: 0.7;
    }
  }
}
