<h2 mat-dialog-title class="dialog__title">Delete the video</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="dialog__content">Are you sure?</mat-dialog-content>
<mat-dialog-actions class="dialog__actions">
  <button
    mat-raised-button
    color="primary"
    class="dialog__button--cancel"
    mat-dialog-close
  >
    No, thanks...
  </button>
  <button
    mat-raised-button
    class="dialog__button--delete"
    mat-dialog-close="delete"
  >
    Yup, delete it!
  </button>
</mat-dialog-actions>
