@use '/src/variables' as var;

.modal {
  display: flex;
  height: 60vh;
  max-height: 40rem;
  width: 60vw;
  max-width: 50rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__content {
    height: 100%;
    overflow: hidden;
  }

  &__iframe {
    height: 98%;
    background-color: var.$background-color-preview;
    border-radius: 4px;
    box-shadow: 0 2px 4px var.$text-color-secondary;
  }

  &__title {
    text-align: center;
  }

  &__close {
    &__btn {
      background-color: var.$text-color-accent;
      color: var.$text-color-header;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  // @media (min-width: 912px) {
  //   &__iframe {
  //     min-height: 20rem;
  //     min-width: 28rem;
  //   }
  // }

  // @media (min-width: 1200px) {
  //   &__iframe {
  //     min-height: 30rem;
  //     min-width: 45rem;
  //   }
  // }
}
